.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #393232;
  align-items: center;
  height: 100vh;
  overflow-y: hidden;
}

.Header {
  display: flex;
  width: 120vh;
  font-size: xx-large;
  /* background-color: white; */
  height: 120px;
  color: #DBD8E3;
  justify-content: space-evenly;
  font-family: "Comfortaa";
  font-weight: 500;

}

.List {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100vh;
  min-width: 820px;
  text-align: center;
  background-color: green;
  height: 100vh - 170px;
  overflow-y: scroll;
}

.Row {
  display: flex;
  text-align: center;
  min-height: 400px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2f2828; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #DBD8E3; 
  border-radius: 10px;
}