.App {
  height: 100vh;
  width: 100vw;

  background-color: #333;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.Screen {
  height: 100vh;
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Header {
  height: 120px;
  width: 100%;
  background-color: blue;
  /* margin-top: 25px; */
  display: flex;
  justify-content: space-evenly;
  font-family: "Comfortaa";
  color: #DBD8E3;
  font-size: xx-large;
}

.Footer {
  height: 120px;
  width: 100%;
  background-color: blue;
}

table {
  /* height: 100%; */
  /* max-width: 1000px; */
  /* min-width: 820px; */
  width: 100%;
  margin-top: 25px;
  margin-bottom: 50px;
  font-family: "Comfortaa";
  color: #DBD8E3;
}

tr {
  width: auto;
  height: 30px;
  /* display: flex;
  flex-direction: row; */
  /* justify-content: space-evenly; */
}

th {
  width: auto;
  height: 30px;
  /* width: 100%; */
  /* border-bottom: 0.5px solid #DBD8E3; */
  /* border: 2px solid black;
  border-bottom: 1px solid #ddd; */
}

td {
  width: auto;
  height: 30px;
  /* width: 100%; */
  /* display: flex; */
  /* text-align: center; */
  /* border: 2px solid black; */
}

td:nth-child() {
  background-color: #DBD8E3;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2f2828; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #DBD8E3; 
  border-radius: 10px;
}