.App {
    height: 100vh;
    width: 100vw;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Comfortaa";
}

.Screen {
    height: 100vh;
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Header {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.HeaderButton {
    background-color: #333;
    height: 60px;
    width: 160px;
    font-weight: 900;
    font-family: "Comfortaa";
    color: #666;
    font-size: x-large;
    border-radius: 16px;
    border: 0px;
}

.HeaderButton:hover {
    color: #DBD8E3;
}

.FooterButton {
    background-color: #333;
    height: 30px;
    width: 40px;
    color: #666;
    border-radius: 10px;
    border: 0px;
}

.HeaderButtonSelected {
    background-color: #333;
    height: 60px;
    width: 160px;
    font-weight: 900;
    font-family: "Comfortaa";
    color: #DBD8E3;
    font-size: x-large;
    border-radius: 16px;
    border: 0px;
}

.Content {
    height: calc(100vh - 200px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: "Comfortaa";
    color: #DBD8E3;
}

.Footer {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.FooterWrapper {
    height: 30px;
    width: 100%;
    font-size: x-large;
    font-weight: 900;
    display: flex;
    justify-content: center;
    font-family: "Comfortaa";
    color: #666;
    font-size: medium;
}

.TableWrapper {
    height: 350px;
    width: 100%;
    overflow: scroll;
    display: flex;
}

table {
    /* max-width: 1000px; */
    /* min-width: 820px; */
    width: 100%;
    table-layout: fixed;
    /* margin-top: 25px;
    margin-bottom: 50px; */
    font-family: "Comfortaa";
    color: #DBD8E3;
}

thead {
    position: sticky;
    z-index: 1;
}

tbody {
    overflow: scroll;
}

tr {
    width: auto;
    height: 30px;
    /* display: flex;
  flex-direction: row; */
    /* justify-content: space-evenly; */
}

th {
    width: auto;
    height: 30px;
    /* width: 100%; */
    /* border-bottom: 0.5px solid #DBD8E3; */
    /* border: 2px solid black;
  border-bottom: 1px solid #ddd; */
}

td {
    width: auto;
    height: 30px;
    /* width: 100%; */
    /* display: flex; */
    /* text-align: center; */
    /* border: 2px solid black; */
}

td:nth-child() {
    background-color: #DBD8E3;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
    border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #2f2828;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #DBD8E3;
    border-radius: 10px;
}